* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    text-align: center;
    padding: 8px 40px;
    border: 0;
    border-radius: 8px;
}


.top {
    background-color: #1F2937;
    padding: 0 200px 0 200px;
}

.header {
    min-width: 1000px;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    gap: 15px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.intro {
    min-width: 1000px;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.second {
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 15px;
}

.info {
    min-width: 1000px;
    padding: 0px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0px;
}

.random {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pieces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.random img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.random p {
    width: 170px;
    color: #1f2937;
    font-size: 18px;
    text-align: center;
}

.reviews {
    min-width: 1000px;
    background-color: #e5e7eb;
    padding: 120px 200px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes {
    color: #1f2937;
    font-size: 36px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    align-self: flex-start;
}

.quotee {
    font-weight: bold;
    align-self: flex-end;
    padding-top: 15px;
}

.end {
    min-width: 1000px;
    padding: 100px 200px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    width: 800px;
    padding: 50px 110px;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .left {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.call {
    font-size: 20px;
    font-weight: bold;
}

.action button {
    border: 1px solid #e5e7eb;
}